.sample{
    display:none;
  }
.div-table-row {
    width: 100%;
    clear: both;
}
.div-table-col {
    display: inline-block; 
    text-align: center;           
  }
.div-table-col.timestamp{
    width:10%;
}
.div-table-col.description{
    width:40%;
}
.div-table-col.amount{
    width:20%;
}
.row-one{
    background-color:rgb(159, 161, 158);
}
.row-two{
    background-color:rgb(143, 146, 142);
}
.selected{
    background-color:rgb(156, 188, 196);
}
.selected.row-one{
    background-color:rgb(142, 161, 133);
}
.selected.row-two{
    background-color:rgb(122, 145, 115);
}