
.container{
    display:flex;
    width:100%;
}
.left{
    width: 50%;
}
.right{
    flex-grow: 1;
}
* {
    box-sizing: border-box;
    width:auto;
    margin: 0px;
    padding: 0px;
}
.characersheet{
    width: 600px;
}
img{
    width: auto;
    object-fit: contain;
}
